:root{
    --vermelho: #E50914;
    --preto: #141414;
} 

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: var(--preto);
    font-family: 'Sans-Serif', Times;
    color: #fff;
}
/* TOPO */

h1{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 45px;
}

header nav a{
    color: #aaa;
    padding: 1rem;
}

header nav a:hover{
    color: #fff;
}

header .container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.container{
    margin-left: 2rem;
}

/* PRINCIPAL */

.filme-principal{
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.60)100%), url('/img/capa.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .sinopse{
    margin-top: 1rem;
    margin-bottom: 2rem;

}
.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.button{
    margin-top: 2rem;
    border: none;
    background-color: rgba(0, 0, 0, .50);
    color: #fff;
    padding: 1rem 1rem;
    margin-right: 1rem;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s ease all;
}

.button:hover{
    color: #000;
    background-color: #fff;
    
}

.button i{
    margin-right: 8px;
}

.filme-principal .container{
    width: 70%;
}